#new-post-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
 
    margin: 20px;
    height: 80vh;
}

.new-post-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 20px;
    background-color: #FAF5FB;

}

.drop-zone{
    background-color: #FAF5FB;
}
input:focus, 
textarea:focus, 
select:focus{
    outline: none;
}