#new-post-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
 
    margin: 20px;
    height: 80vh;
}

.new-post-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 20px;
    background-color: #f8f8ff;

}

.drop-zone{
    background-color: #e0e0e0;
}
.dropzone-container{
        border: dashed #9e9e9e;
        border-radius: .2em;
}
.dropzone-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding-top: 10px;
}

input:focus, 
textarea:focus, 
select:focus{
    outline: none;
}