#single-post-detail-card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.comment-input-container{
    display: flex;
    align-items: flex-end;
    padding: 16px 0px 0px 16px;
}